body,header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(125deg, rgba(230, 230, 250, 1), rgba(216, 191, 216, 1) 89%);
  }

  .info-candidatos {
    margin-bottom: 20px;
  }

  .cota-select {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cota-select p {
    font-weight: bold;
  }

  .cota-select select {
    margin-left: 25px;
    width: 9em;
    padding: 10px;
    border: 1px solid #0000008c;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgba(238, 223, 232, 0.4);
  }

  table {
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    width: 10%;
  }

  th {
    background-color: #f4f4f4;
  }

  td button{
    padding: 5px;
    border: 1px solid #0000008c;
    border-radius: 5px;
    font-size: 1em;
  }

  #button-edit{
    background-color: rgba(74, 142, 219, 0.39);
  }
  #button-excluir{
    background-color: rgba(149, 96, 170, 0.301);
  }
  /* teste do styler*/
ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin: 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cabecalho_mpR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(125deg, #511a6b9f,#fabaf7af 89%);
    width: 100%;
}

#im_logo_mpR {
    margin-top: -20px;
    width: 150px;
}

.nome_site_mpR {
    font-size: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MinhaFonte';
    font-style: italic;
    color: white;
}

.naveg_mpR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.menu_mpR ul {
    list-style: none;
    font-family: 'MinhaFonte';

}

.menu_mpR ul li a {
  top: 5px;
  right: 150px;
    position: relative;
    z-index: 10;
    font-size: 22px;
}

.menu_mpR ul li a:hover {
    text-decoration: none;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.logo_mpR,
.naveg_mpR {
    flex-grow: 1;
    display: flex;
}
@media (max-width: 768px) {
    .cabecalho_mpR {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu_mpR ul {
        flex-direction: column;
        padding: 10px;
    }

    .menu_mpR li {
        margin: 5px 0;
    }

    .anuncio_mpR {
        padding: 10px;
    }

    .proposta-container_mpR {
        flex-direction: column;
        align-items: center;
    }

    .caixa_mpR {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #titulo_card_mpR {
        font-size: 24px;
    }

    #text_card_mpR {
        font-size: 16px;
    }

    .servico_slogan_mpR {
        font-size: 14px;
    }

    .footer_mpR {
        padding: 10px;
    }
}