.carrossel {
    margin: 0;
    display: grid;
    grid-template-rows: 600px 90px;
    grid-template-columns: 1fr 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

div#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    width: 90vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 800px;
    --items: 3;
    --middle: 2;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 800px;
    height: 500px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Default shadow for all items */
    border-radius: 25px;
   
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url('../img/carousel.jpg');
    text-align: center;
    
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url('../img/social.jpg');
    text-align: center;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url('../img/social.jpg');
    text-align: center;
}

/* Specific checks for the selected item */
input:nth-of-type(1):checked~div#carousel div.item:nth-of-type(1),
input:nth-of-type(2):checked~div#carousel div.item:nth-of-type(2),
input:nth-of-type(3):checked~div#carousel div.item:nth-of-type(3) {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    /* Stronger shadow when selected */
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~div#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~div#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~div#carousel {
    --position: 3;
}

#item-text {
    font-size: 20px;
    padding-top: 10px;
    margin: 55px;
    width: 350px;
}

#item-titulo {
    padding-top: 20px;
    font-size: 36px;
    width: 500px;
}

#item-text:nth-of-type(2) {
    font-size: 20px;
    padding-top: 10px;
    margin: 55px;
    width: -350px;
}

div.item:nth-of-type(2)#item-titulo{
    right: 50px;
}

.carousel-content{
    display: flex;
    justify-content: space-between;
}