footer {
    background: linear-gradient(1deg, #000000c8 10%, #1d091de2 10%, #83339edc 150%);
    color: white;
    text-align: center;
    padding: 5px 0; 
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

#footer_table {
    margin: auto;
    width: 50%;
    padding: 0; 
    color: rgb(255, 255, 255);
    border-collapse: collapse; 
   
}


#footer_a {
    color: #ffffff;
    text-decoration: none;
}

#footer_a:hover {
    text-decoration: underline;
}

#wzap {
    margin-right: 10px;
    max-width: 22px;
}

#insta {
    max-width: 22px;
}

#logo_rod{
    max-width: 55px;
    margin-left: -50px;
}