* {
    margin: 0;
    padding: 0;
}

.container-form {
    color: #000000;
    margin: auto;
    max-width: 1000px;
    padding: 40px;
    border: 5px solid rgb(66, 5, 81);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-container {
    flex: 1;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container h1 {
    width: 458px;
    height: 239px;
    color: #FFF;
    font-family: 'Limelight', serif;
    font-size: 70px;
    font-weight: bolder;
    margin-right: 50px;
    margin-top: -80px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: rgb(39, 15, 50, 0.433);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.804);
}

select {
    width: 105%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: rgba(39, 15, 50, 0.433);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.804);
    font-size: 14px;
}


#zap, #emailBtn {
    width: 50%;
    padding: 12px;
    background-color:#874ac4bd;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#zap:hover, #emailBtn:hover {
    background-color: #c04ac4bd;
}

input:focus textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #884ac4;
}
select:focus {
    outline: none;
    box-shadow: 0 0 8px #884ac4;
}

.button-container {
    display: flex; /* Mantém o flexbox */
    gap: 10px; /* Adiciona espaço entre os botões */
}

#zap, #emailBtn{
    flex: 1; /* Permite que os botões cresçam igualmente */
    padding: 12px; /* Mantém o padding consistente */
    margin: 0; /* Remove o margin auto */
    min-width: 220px; /* Adiciona uma largura mínima para uniformidade */
}

option{
    background-color: rgb(39, 15, 50);
    color: rgba(255, 255, 255, 0.804);
}