.vantagem_mpR_sec_mpR{
    margin-top: 30px;
}

#vantagens_mpR {
    margin: auto;
    width: 1200px;
    padding: 40px;
    border-radius: 50px;
    display: flex;
}

.vantagem_mpR img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 13px;
}

.vantagens_container_mpR h3 {
    font-size: 30px;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.vantagens_container_mpR p {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-size: 22px;
}

.vantagem_mpR {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.vantag_nome_mpR {
    color: #FFF;
    font-family: 'Limelight', serif;
    font-weight: bolder;
    margin-right: 90px;
    margin-top: 190px;
}

.vantag_nome_mpR h1{
    font-size: 90px;
}

#vant_mpR {
    flex: 2;
}